{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env fish

echo -e "\033[0;32m>>>>> Begin Print Version <<<<<\033[0m"

{{ range .packages.versioned -}}
echo -e "\033[0;32m{{ . }} Version:\033[0m"
{{ . }} --version
echo
{{ end -}}

echo -e "\033[0;32m>>>>> End Print Version <<<<<\033[0m"
{{ end -}}
