{{ if eq .chezmoi.os "windows" -}}

$escape = [char]0x1B
echo "$escape[0;32m>>>>> Begin Setting Up Windows Packages <<<<<$escape[0m"

Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression

echo "$escape[0;32m>>>>> End Setting Up Windows Packages <<<<<$escape[0m"
{{ end -}}
