{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env fish

echo -e "\033[0;32m>>>>> Begin Setting Fish Variables <<<<<\033[0m"

# Add the locales
{{ if ne .chezmoi.username "root" -}}
sudo locale-gen en_US.UTF-8
sudo update-locale LANG=en_US.UTF-8
{{ else -}}
locale-gen en_US.UTF-8
update-locale LANG=en_US.UTF-8
{{ end -}}

set -Ux LC_ALL en_US.UTF-8
set -Ux LANG en_US.UTF-8

set --universal nvm_default_version lts
set --universal nvm_default_packages neovim yarn
nvm install lts

echo -e "\033[0;32m>>>>> Finish Setting Fish Variables <<<<<\033[0m"
{{ end -}}
