{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env fish

echo -e "\033[0;32m>>>>> Begin Update Fisher <<<<<\033[0m"

# This script will run whenever I added something to .config/fish/fish_plugins
# .config/fish/fish_plugins hash: {{ include "dot_config/private_fish/fish_plugins.tmpl" | sha256sum }}
fisher update

echo -e "\033[0;32m>>>>> Finish Update Fisher <<<<<\033[0m"
{{ end -}}
